{%extends "layout.html"%}
{%block content%}
  <div id="success">
    <section class="sec-intro" role="section">
        <img src="{{ url_for('static', filename='images/banner1.jpg') }}" alt="Dream bold. Think smart. Do fast." />
        <h1>Dream bold. Think smart. Do fast.</h1>
    </section>
    <section class="sec-body" role="section">
      <h2>Congratulation!</h2><br/>
      <h3>Your data is analyzed successfully. A result was sent to your provided email address. Please check for the analyzed result.</h3>
    </section>
  </div>
{%endblock%}